@import "../../Styles/mixins.scss";

.skills {
  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    align-items: center;
    gap: 2rem;
  }

  &_card {
    padding: 40px 20px;
    border-radius: 1000px;
    text-align: center;
    border: 1px solid #232335;
    background-color: var(--eerie-black);
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 2rem 1rem;
  }

  &_card-img {
    width: fit-content;
    margin-inline: auto;
    padding: 1rem;
    border: 1px solid var(--extra-color);
    border-radius: 50%;
    background-color: var(--main-color);

    img {
      width: 4.5rem;
    }
  }
}
